body{
    font-family:Microsoft YaHei, serif;
}
.main{
    background: #fafafa;
}
.main-top {
    padding: 10% 0;
}
.main-top-img {
    text-align: center;
}
.main-top-title {
    font-size: 18px;
    text-align: center;
    padding: 30px 0;
}
.main-top-explain {
    color: rgb(153, 153, 153);
    text-align: center;
}
.main-top-detail {
    border-left: 1px dashed rgb(175, 175, 175);
    padding:3rem 5rem;
}
.main-top-detail span {
    color: rgb(41, 176, 120);
}
.main-top-detail p {
    color: rgb(153, 153, 153);
    margin: 5px 0 25px;
}
.main-middle {
    padding-bottom: 90px;
}
.main h1 {
    text-align: center;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-bottom: 60px;
}
.learn {
    margin-bottom: 50px;
}
.list ul {
    list-style: none;
}
.list ul li {
    display: inline-block;
    vertical-align: middle;
}
.circle {
    width: 70px;
    height: 70px;
    box-shadow: rgb(153, 153, 153) 1px 1px 1px;
    text-align: center;
    color: rgb(41, 176, 120);
    font-size: 18px;
    border-radius: 50%;
    border: 1px solid rgb(230, 229, 230);
    background: rgb(255, 255, 255);
}
.circle p {
    padding: 35% 45%;
}
.text {
    width: 52%;
    color: rgb(153, 153, 153);
    margin: 8px;
}
.main-middle-1 {
    padding: 30px 0 120px;
}
.student-show {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(230, 229, 230);
}
.col-md-6 img {
    padding: 10px 0;
}
.student-show img {
    display: block;
    margin: 0 auto;
}
.student-show h1 {
    margin-bottom: 5px;
}
.student-show p {
    width: 80%;
    color: rgb(153, 153, 153);
    margin: 5px auto;
    padding: 15px 0 35px;
}
.more {
    width: 7%;
    margin: 20px auto;
}
.little-circle,.little-circle1 {
    width: 15px;
    height: 15px;
    box-shadow: rgb(153, 153, 153) 1px 1px 1px;
    display: inline-block;
    border-radius: 50%;
}
.little-circle {
     background: rgb(41, 176, 120);
 }
.main-middle-2 {
    margin-bottom: 93px;
}
.main-middle-2 ul {
    list-style: none;
}
.cooperate {
    box-shadow: rgb(221, 221, 221) 0 0 1px;
    font-size: 0;
    background: rgb(255, 255, 255);
}
.cooperate li {
    width: 20%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 7rem 0;
}
.cooperate li:hover {
    box-shadow: rgb(221, 221, 221) 0 1px 4px;
}
.alibaba {
    background: url("task7/alibaba.png") 50% 50% no-repeat;
}
.jinshan {
    background: url("task7/jinshanyun.png") 50% 50% no-repeat;
}
.huanxin {
    background: url("task7/huanxin.png") 50% 50% no-repeat;
}
.ronglian {
    background: url("task7/ronglian.png") 50% 50% no-repeat;
}
.qiniu {
    background: url("task7/qiniu.png") 50% 50% no-repeat;
}
@media screen and (max-width: 992px) {
    .cooperate li {
        background-size: 70%;
    }
}
.main-bottom {
    background: rgb(255, 255, 255);
}
.main-bottom h1 {
    text-align: center;
    margin-bottom: 0;
    padding: 1rem;
}
.link {
    width: 100%;
    margin: 0 auto;
}
.link ul {
    color: rgb(153, 153, 153);
    margin: 0 auto;
}
.link li {
    float: left;
    width: 7rem;
    margin: 1rem;
}
.link li a {
    color: rgb(153, 153, 153);
}
