
.header{
    width:100%;
    background: #fff;
}
.header-top{
    width:89%;
    margin:0 auto;
}
.header-top span{
    color:#42b683;
    font-size: 1.4em;
    line-height: 3em;
}
.header-top ul{
    list-style: none;
}
.icon{
    float:right;
}
.header-top ul li{
    width:28px;
    height:28px;
    margin:6px 8px;
    float:left;
}
.li-one{
    background:url(task7/sprite.png) 0 0 no-repeat;
}
.li-two{
    background:url(task7/sprite.png) -28px 0 no-repeat;
}
.li-three{
    background:url(task7/sprite.png) -56px 0 no-repeat;
}
.header-bottom{
    background: #29b078;
    font-size: 1.6em;
    padding-left:68%;
    position: relative;
}
.logo{
    max-width: 111px;
    position:absolute;
    top:16%;
    left:5.3%;
}
.header-bottom a{
    text-decoration: none;
    color:white;
    padding:1.75rem 1.8rem;
    display: inline-block;
}
.header-bottom a:hover{
    background: #fff;
    color:#000;
}
.footer{
    background: #26a26f;
    color:white;
}
.container{
    width:80%;
    margin:0 auto;
}
.leftfoot{
    float:left;
    margin:35px 150px 30px 0;
}
.tree{
    font-size:1.6em;
    margin-bottom: 65px;
}
.contact{
    font-size:1.4em;
}
.middlefoot{
    width:30%;
    float:left;
    margin:35px 0 0 0;
}
.web{
    font-size:1.6em;
    margin-bottom:25px;
}
.link{
    font-size:1.4em;
    margin-bottom: 25px;
}
.rightfoot{
    float:right;
    margin:36px 0 15px;
}
.rightfoot p{
    font-size:1.6em;
    margin-bottom: 8px;
}
.copyright{
    clear:both;
    text-align: center;
    font-size: 1.2em;
    border-top:1px solid #32c086;
}
.copyright p{
    padding:7px 0;
}